@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

$font_Raleway: "Raleway", sans-serif;
$font_Great: "Great Vibes", sans-serif;

@import "variable.tailwind";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_Raleway;
  font-weight: 400;
}
.st0 {
  display: none;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  display: inline;
}
.st3 {
  display: none;
  fill: #ffffff;
}
